<?xml version="1.0" ?>
<robot name="pablowsky" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- robot 3D geometry and collision description -->
  <xacro:include filename="$(find pablowsky_description)/urdf/includes/pablowsky_model.xacro"/>
  <!-- common color definitions -->
  <xacro:include filename="$(find pablowsky_description)/urdf/includes/common_properties.xacro"/>
  <!-- phisics properties (friction, etc), laser scanner + camera -->
  <xacro:include filename="$(find pablowsky_description)/urdf/includes/pablowsky_common.gazebo.xacro"/>
</robot>
